body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif 
}

.post-card{
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button{
  margin-right: 8px;
  padding: 6px 12px;
  cursor:pointer;
}

.dark {
  background-color: #1a1a1a;
  border-color: #444;
  color:#fff;
}

.light {
  background-color: #f4f4f4;
  color:#000
}