* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}

input {
  all: unset;
  display: block;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background: white;
  color: black;
  pointer-events: auto;
}
